.form {
  margin-top: 3%;
  margin-left: 25%;
  margin-right: 25%;
  font: inherit;
  justify-content: center;
  padding: 5%;
  background-color: #f9f7f5;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.form h2 {
  margin-top: 0;
  margin-bottom: 5%;
}

.control {
  margin-bottom: 1rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.control input,
.control textarea,
.control select {
  display: block;
  font: inherit;
  border-radius: 8px;
  border: 1px solid #98a9b3;
  padding: 0.25rem;
  width: 100%;
}

.datepicker {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 0.5rem;
}

.datepicker input {
  cursor: pointer;
  background-color: #fff;
  padding: 0.5rem;
  padding-right: 2.5rem;
}

.datepicker button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  border: none;
  color: #000;
  padding: 0.5rem;
}

.timepicker {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.timepicker label {
  margin-right: 0.5rem;
}

.timepicker input {
  flex-grow: 1;
}

.dropdown {
  position: relative;
  width: 100%;
  margin-bottom: 0.5rem;
}

.dropdown select {
  cursor: pointer;
  background-color: #fff;
  padding: 0.5rem;
  padding-right: 2.5rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.dropdown::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  border: solid #98a9b3;
  border-width: 0 1px 1px 0;
  padding: 3px;
  pointer-events: none;
}

.dropdown::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  border: solid #98a9b3;
  border-width: 0 1px 1px 0;
  padding: 3px;
  pointer-events: none;
}
.actions {
  margin-top: 1rem;
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #d33457;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  border: 0;
}

.actions button:hover,
.actions button:active {
  background-color: #1e3f58;
}